.main-simpson {
    text-align: center;
    color: #4f2158;
    margin: 3rem 0;
}

button {
    background-color: #4f2158;
    border-radius: 8px;
    border: none;
    width: 300px;
    height: 40px;

    color: #fff;

    cursor: pointer;
}

p {
    font-size: 24px;
    font-style: italic;
}